* {
    box-sizing: border-box;
  }
  
  /* task one */
  .container {
    display: flex;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .container .a {
    background-color: #96caef;
    padding: 3rem;
    order: 3;
  }
  
  .container .b {
    background-color: #8de4af;
    padding: 3rem;
    order: 2;
  }
  
  .container .c {
    background-color: #e7717d;
    padding: 3rem;
    order: 1;
    margin: auto; //task three. Box C in left, B & A in right
  }
  
  .container .a,
  .b,
  .c {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
  }
  